{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'student_contact_form/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'student_contact_form/css/main.css' %}">
<!--===============================================================================================-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
		<a class="navbar-brand" href="{% url 'home_page' %}">
			<i class="fa fa-pagelines" aria-hidden="true"></i>
			Test Mate
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'dashboard_view' %}">Dashboard <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'create_config_page' %}">Create Quiz</a>
				</li>
				<li class="nav-item" style="margin-top: 6px;padding-left: 5px;">
					<form action="{% url 'logout_page' %}" method="POST">
						{% csrf_token %}
						<div class="sidebar__logout" style="">
							<!-- <i class="fa fa-power-off" style="margin-right: 0px;margin-top: 20px;padding-top: 10px;"></i> -->
							<button type="submit" name="button" class="sidebar__logout" style="background-color:#343a40;color:#e65061;margin-top: 2px;
	margin-left: 2px;border:0;">
								<i class="fa fa-power-off" style=""></i>
								Log Out
							</button>
						</div>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<div class="contact1">
		<div class="container-contact1" style="height: 600px;padding-top: 20px;padding-bottom: 20px;">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="{% static 'student_contact_form/images/img-01.png' %}" alt="IMG">
			</div>

			<form class="contact1-form validate-form" method="POST">

				{% csrf_token %}

				<span class="contact1-form-title" style="font-weight: bold;font-family: 'Montserrat', sans-serif;">
					Student's Feedback Mail
				</span>

				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<input class="input1" type="text" name="student_name" placeholder="Student Name">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input1" type="text" name="student_mail" placeholder="Student's Mail Id">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Subject is required">
					<input class="input1" type="text" name="mail_subject" placeholder="Subject">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Message is required">
					<textarea class="input1" name="mail_message" placeholder="Feedback/Message"></textarea>
					<span class="shadow-input1"></span>
				</div>

				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn" type="submit">
						<span>
							Send Email
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static 'student_contact_form/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'student_contact_form/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'student_contact_form/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'student_contact_form/js/main.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'student_contact_form/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'student_contact_form/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
