{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Reset Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'favicon.ico' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'Registration/Login/css/main.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'Registration/PasswordReset/css/styles.css' %}">
	<!--===============================================================================================-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			{% block content %}
			{% endblock %}
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="{% static 'Registration/Login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'Registration/Login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'Registration/Login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'Registration/Login/vendor/select2/select2.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'Registration/Login/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'Registration/PasswordReset/js/dynamic.js' %}" charset="utf-8"></script>
</body>

</html>
