{% extends 'Password-Reset-base.html' %}
{% load static %}

{% block content %}
<div class="wrap-login100" style="height: 310px;padding-top: 80px;margin-bottom: 20px;">
  <div class="text-left">
    <p class="h2" style="font-family:'Montserrat', sans-serif;font-weight:bold;margin-bottom:24px;">Bingo!!&nbsp;&nbsp;<span style='font-size:30px;'>&#127775;</span></p>
    <p class="h5" style="font-family:'Montserrat', sans-serif;font-weight:bold;margin-bottom:24px;">Your Password has be reset successfully!!
    <span class="" style="font-size:16px;font-family:'Montserrat', sans-serif;font-weight:bold;">Go Ahead and try logging in to view your work on TEST MATE.</span></p>
    <p class="" style="color:#007580;"><b>Have a Good Day!!</b></p>
  </div>
  <div class="text-right p-t-136" style="padding-top: 0px;margin-left: 650px;">
    <a class="txt2" href="{% url 'login_page' %}" style="font-weight:bold;font-size:14px;">
      Login
      <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a>
  </div>
</div>
{% endblock %}
