{% extends 'Password-Reset-base.html' %}
{% load static %}

{% block content %}
<div class="wrap-login100" style="height: 410px;padding-top: 95px;margin-bottom: 20px;">
  <div class="row">
    <div class="col-6" style="padding-right: 0px;padding-top:30px;padding-left: 0px;">
      <div class="text-left">
        <p class="h4" style="font-family:'Montserrat', sans-serif;font-weight:bold;">Reset your password here &rarr;<br><br>
          <span class="" style="">
            <ul>
              <li style="margin:5px 0px;font-size:14px;font-family:'Montserrat', sans-serif;"><b> password must contain atleast 1 Character(a-z) &   atleast 1 Integer(0-9).</b></li>
              <li style="font-size:14px;font-family:font-family:'Montserrat', sans-serif;"><b> password must be a min. of 6 chars. in length.</b></li>
            </ul>
          </span>
        </p>
        <p style="margin-top:20px;font-size:16px;font-weight:bold;font-family:'Montserrat', sans-serif;color:#e84545;">
        {% if error %}
          {{ message }}
        {% endif %}
        </p>
      </div>
    </div>
    <div class="col-6" style="margin-left: 0px;">
      <form class="login100-form validate-form" name="password-reset-2" method="POST" style="margin-left: 100px;margin-top: 0px;padding-left: 0px;padding-right: 20px;padding-top: 0px;">
        {% csrf_token %}

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100 passwordInput1" type="password" name="pass-1" placeholder="New Password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100 passwordInput2" type="password" name="pass-2" placeholder="Re-enter Password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <!-- Add a badge -->
        <div class="btn myStyle" style="">
          <p class="Toggle" style="">SHOW</p>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" style="font-family: Roboto;font-size:14px;">
            SET PASSWORD
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}
